compile_commands.json
/doc/html
/doc/_ref
doc/cpp2rst_generated

.vscode
.spyproject
__pycache__
ipynb_checkpoints
.ipynb_checkpoints

POTCAR
vasp.6.3.0.tgz

doc/input_output/DMFT_input/advanced.rst
doc/input_output/DMFT_input/dft.rst
doc/input_output/DMFT_input/general.rst
doc/input_output/DMFT_input/input.rst
doc/input_output/DMFT_input/matches_comments.txt
doc/input_output/DMFT_input/python_comments.txt
doc/input_output/DMFT_input/solver.rst
